* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
}


.banner {
    width:100%;
    height:100vh;

    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../bg1.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    cursor:pointer;
}


.navbar {
    display:flex;
    justify-content: space-between;
    color: white;
    margin: 0 auto;
    padding: 40px;
    padding-left: 50px;
   
}


.navbar ul li {
        display:inline-block;
        padding: 20px;
        font-size: 20px;
}

.navbar ul li a {
        text-decoration: none;
        color:white;
        text-transform: uppercase;

}

a:hover {
    color:red;
}


.content {
    color: white;
    text-align: center;
    transform: translateY(-50%);
    top:50%;
    width:100%;
    position:absolute;
    margin:0 auto;
    margin: 0, 0, 20px, 0;

}
p {
    padding: 20px 0 0 0;
}

h2 {
    font-size: 50px;
}


button {
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    top: 20px;
    padding: 15px;
   border-radius: 35px;
   background-color: white;
    color:lightblue;
}

button:hover {
    background-color: gray;
}

